/*header styles*/
header{


    background-color: #FFF;
    padding: 40px 200px;
}
nav{
    display:flex;
    justify-content: space-between;
    
}
.nav-title{

color: #131318;
width: 200px;
height: 45px;

}
nav>ul{

    display: flex;
}
nav li{

    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
}
.first{

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FF5400;

}

    

.banner-title{

    color: #FFFFFF;
    width: 596px;
    height: 80px;
    text-align: center;
    
    
}
.banner{
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 26px;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    

}
.banner-discription{

    color: #FFFFFF;
    width: 576px;
    height: 52px;
    text-align: center;
    
}
div.all-button{
   margin: 20px;
    text-align: center;
    
}
#batton4{

    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
   line-height: normal;
}



.batton5{

    background-color: #FF5400;
    
    padding:10px 10px;
}
